$primary-color: #262730;
$body-background: #101115;
$off-white: #fcf5ee;
$dark-brown: #5e4b36;
$brown-836C51: #836c51;
$green: #43B431;
$gradient: linear-gradient(90deg, #DA630D 0%, #F5A94E 51.04%, #D27910 100%);


$gradient-background: linear-gradient(180deg, #ffdcb3 1%, #fffae2 100%);
