.liquidity-problem-section{
    text-align: center;
    margin-top: 150px;
    .container{

        .head {
            .title-text {
                margin-bottom: 50px;
                font-size: 40px;
            }            
        }

        .cards-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 25px;
        }
    }
}

@media only screen and (max-width: 768px){
    .liquidity-problem-section{
        .container{
            .head{
                .title-text {
                    font-size: 34px;
                    line-height: 40px;
                    margin-bottom: 24px;                    
                }
            }
            .cards-container{
                display: block;

                &>div{
                    margin-bottom: 25px;
                }
            }
        }
    }
}