svg{
    height: 80%;
}

.path-0{
animation:pathAnim-0 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
fill:url(#MyGradient)
}
@keyframes pathAnim-0{
    0%{
        d: path("M 0,700 C 0,700 0,233 0,233 C 84.27751196172247,241.3062200956938 168.55502392344494,249.61244019138758 258,247 C 347.44497607655506,244.38755980861242 442.0574162679426,230.85645933014354 541,208 C 639.9425837320574,185.14354066985646 743.2153110047848,152.96172248803828 847,155 C 950.7846889952152,157.03827751196172 1055.0813397129186,193.29665071770333 1154,212 C 1252.9186602870814,230.70334928229667 1346.4593301435407,231.85167464114835 1440,233 C 1440,233 1440,700 1440,700 Z");
    }
    25%{
        d: path("M 0,700 C 0,700 0,233 0,233 C 97.52153110047843,273.57416267942585 195.04306220095685,314.14832535885165 302,306 C 408.95693779904315,297.85167464114835 525.3492822966508,240.98086124401914 608,212 C 690.6507177033492,183.01913875598086 739.5598086124402,181.9282296650718 833,213 C 926.4401913875598,244.0717703349282 1064.4114832535884,307.3062200956938 1173,316 C 1281.5885167464116,324.6937799043062 1360.7942583732058,278.8468899521531 1440,233 C 1440,233 1440,700 1440,700 Z");
    }
    50%{
        d: path("M 0,700 C 0,700 0,233 0,233 C 113.59808612440187,223.4976076555024 227.19617224880375,213.99521531100478 317,224 C 406.80382775119625,234.00478468899522 472.8133971291867,263.51674641148327 575,282 C 677.1866028708133,300.48325358851673 815.5502392344497,307.9377990430622 917,273 C 1018.4497607655503,238.0622009569378 1082.9856459330144,160.73205741626793 1164,147 C 1245.0143540669856,133.26794258373207 1342.5071770334928,183.13397129186603 1440,233 C 1440,233 1440,700 1440,700 Z");
    }
    75%{
        d: path("M 0,700 C 0,700 0,233 0,233 C 97.04306220095694,193.2488038277512 194.08612440191388,153.49760765550238 298,159 C 401.9138755980861,164.50239234449762 512.6985645933014,215.25837320574163 600,251 C 687.3014354066986,286.74162679425837 751.1196172248806,307.4688995215311 831,296 C 910.8803827751194,284.5311004784689 1006.822966507177,240.86602870813397 1111,225 C 1215.177033492823,209.13397129186603 1327.5885167464116,221.06698564593302 1440,233 C 1440,233 1440,700 1440,700 Z");
    }
    100%{
        d: path("M 0,700 C 0,700 0,233 0,233 C 84.27751196172247,241.3062200956938 168.55502392344494,249.61244019138758 258,247 C 347.44497607655506,244.38755980861242 442.0574162679426,230.85645933014354 541,208 C 639.9425837320574,185.14354066985646 743.2153110047848,152.96172248803828 847,155 C 950.7846889952152,157.03827751196172 1055.0813397129186,193.29665071770333 1154,212 C 1252.9186602870814,230.70334928229667 1346.4593301435407,231.85167464114835 1440,233 C 1440,233 1440,700 1440,700 Z");
    }
}
.path-1{
animation:pathAnim-1 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
0%{
    d: path("M 0,700 C 0,700 0,466 0,466 C 92.38277511961724,420.0861244019139 184.76555023923447,374.17224880382776 298,380 C 411.23444976076553,385.82775119617224 545.3205741626793,443.39712918660285 626,455 C 706.6794258373207,466.60287081339715 733.9521531100479,432.2392344497607 820,438 C 906.0478468899521,443.7607655502393 1050.870813397129,489.6459330143541 1164,501 C 1277.129186602871,512.3540669856459 1358.5645933014355,489.17703349282294 1440,466 C 1440,466 1440,700 1440,700 Z");
}
25%{
    d: path("M 0,700 C 0,700 0,466 0,466 C 83.06220095693783,499.95215311004785 166.12440191387566,533.9043062200957 260,512 C 353.87559808612434,490.0956937799043 458.56459330143537,412.3349282296651 549,383 C 639.4354066985646,353.6650717703349 715.6172248803828,372.75598086124404 823,401 C 930.3827751196172,429.24401913875596 1068.9665071770337,466.6411483253588 1177,479 C 1285.0334928229663,491.3588516746412 1362.5167464114832,478.6794258373206 1440,466 C 1440,466 1440,700 1440,700 Z");
}
50%{
    d: path("M 0,700 C 0,700 0,466 0,466 C 72.73684210526315,427.70334928229664 145.4736842105263,389.4066985645933 258,404 C 370.5263157894737,418.5933014354067 522.8421052631579,486.07655502392345 626,499 C 729.1578947368421,511.92344497607655 783.1578947368421,470.28708133971287 876,475 C 968.8421052631579,479.71291866028713 1100.5263157894738,530.7751196172248 1201,537 C 1301.4736842105262,543.2248803827752 1370.7368421052631,504.6124401913876 1440,466 C 1440,466 1440,700 1440,700 Z");
}
75%{
    d: path("M 0,700 C 0,700 0,466 0,466 C 69.866028708134,412.63157894736844 139.732057416268,359.2631578947368 240,388 C 340.267942583732,416.7368421052632 470.9377990430621,527.578947368421 566,529 C 661.0622009569379,530.421052631579 720.5167464114833,422.421052631579 827,414 C 933.4832535885167,405.578947368421 1086.9952153110048,496.7368421052631 1197,522 C 1307.0047846889952,547.2631578947369 1373.5023923444976,506.63157894736844 1440,466 C 1440,466 1440,700 1440,700 Z");
}
100%{
    d: path("M 0,700 C 0,700 0,466 0,466 C 92.38277511961724,420.0861244019139 184.76555023923447,374.17224880382776 298,380 C 411.23444976076553,385.82775119617224 545.3205741626793,443.39712918660285 626,455 C 706.6794258373207,466.60287081339715 733.9521531100479,432.2392344497607 820,438 C 906.0478468899521,443.7607655502393 1050.870813397129,489.6459330143541 1164,501 C 1277.129186602871,512.3540669856459 1358.5645933014355,489.17703349282294 1440,466 C 1440,466 1440,700 1440,700 Z");
}
}