.liquidity-problem-section{
    .container{
        h2{
            font-size: 48px; 
            margin: 0;
            margin-bottom: 30px;
        }
        .cards-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 25px;
        }
    }
}

@media only screen and (max-width: 768px){
    .liquidity-problem-section{
        .container{
            h2{
                font-size: 34px;
                margin-bottom: 24px;
            }
            .cards-container{
                display: block;

                &>div{
                    margin-bottom: 25px;
                }
            }
        }
    }
}