@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@font-face {
  font-family:"Euclid circular";
  src: url("./assets//fonts/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5E4B36;
  background-color: #FFAF55;
  text-align: center;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  font-family: "Euclid circular";
  margin: 0;
}

p{
  font-family: 'Ubuntu', sans-serif;
}


button{
  padding: 20px;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.page-content{
  &>*{
  margin-bottom: 80px;

  &:last-child{
    margin-bottom: 0;
  }
} 
}